$rojo: #f63635;
$negro:#000000;


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

/* -------------------------------------------------------------------------- */
/*                              TITULAR CABECERA                              */
/* -------------------------------------------------------------------------- */

.container{
    // max-width: 11.7rem; //735px
    //width: 12.8rem;
    padding: 15px;
    max-width: 900px;
    @media  (min-width:565px ) {
        &{
            padding: 30px; 
            margin: 0 auto; 
        }
    }



}


.cabecera{
    .fecha{
        display: flex;
        justify-content: space-between;
        &{
            list-style: none;
            margin: 0;
            padding: 0;
            font-weight: bold;
            font-family: sans-serif;
        }
    }



    & .linea-negra{
      width: 100%;
      height: 10px; 
      background-color:$negro; 
    }

    & .linea-roja{
        width: 100%;
        height: 10px; 
        background-color: #f63635;
        margin: 5px 0;
    }

    & .titulo-principal h1 {
        font-size: 2.5rem;
        margin: .5rem 0;
        font-family: 'Freshman';

        @media (min-width: 768px){
            
                font-size: 6rem;
            
          
        }
    }

    & .titulo-principal h2{
        margin: .5rem 0;
        font-family: 'Freshman';

        & span{
            color: $rojo;
        }

        
        @media (min-width: 768px){
            font-size: 3.5rem;
            letter-spacing: 1px;
        }
    }

    & .titulo-principal{
        border-bottom: 2px solid $negro;
    }
   
}

/* -------------------------------------------------------------------------- */
/*                             CONTENIDO PRINCIPAL                            */
/* -------------------------------------------------------------------------- */

.contenido{
    font-family: sans-serif;
    padding-top: 25px;

    & .img-article{
        padding: 15px 0; 
    }

    & .picture{
        display: block;
       
        & img{
            width: 100%;
        }
    }
    
    * p{
        margin: 0;
    }

    @media (min-width:768px){
        display: flex;

    }
    
    & article{
        & p{
            text-align: justify;
        }

        @media (min-width:768px){
            width: 250px;
            margin-right: 30px;
        }
    }
}



.main{

    text-align: justify;

    & .paragrap-main .conten-cursiva{
        margin: 40px auto;
        max-width: 400px;

        @media (min-width:768px){
            margin: 0;
            }

    }

    @media (min-width:768px){
        width: 650px;
        & .img-main{
            display: block;
            padding-bottom: 15px;
            & img{
                width: 100%;
            }
        }


        & .paragrap-main{
            column-count: 2;
            column-gap: 30px;
          
      
        }

        & .paragrap-title{
            column-count: 2;
            column-gap: 30px;
            
       

        }
    }

    & .paragrap-main hr{
        border: 1.5px solid $negro;
        width: 75%;
    }
    & .paragrap-main .cursiva{
        text-align: center;
        padding: 10px 0;
    }
    & .paragrap-main .cursiva .frase{
        font-style: italic;
         text-align: center;

        & span{ 
            color: $rojo;
        }
    }

    & .paragrap-title h2{
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: $rojo;
        font-family: sans-serif;
        padding: .3rem 0;
        margin: 0;
        margin-bottom: 15px;
    }

    & hr{
        border: 1.5px solid $negro;
    }
}


/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.footer{
    border-top: 8px solid $negro;
    margin: 20px 0;

    * h3, p{
        margin: 0;
    }
    & .content-footer{
        display: flex;
        padding: 10px 0;
        & .img-qr{
            width: 140px;
            & img{
                width: 100%;
            }
        }

        @media (max-width:760px){
            flex-direction: column;
            align-items: center;
        }
    }

    & .title-footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 5px;
        & h3 {
            font-size: 1rem;
            font-family: sans-serif;
            font-weight: bold;
            text-transform: uppercase;
            @media (max-width:899px){
                padding-bottom: 5px;
            }
        }

        @media (max-width:760px){
            text-align: justify;
            padding: 15px 0;
        }
    }
    & .pagina{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width:760px) {
            align-items: center;
        }
    }

    & .pagina .pagina-number{
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        background-color: $negro;
        padding: 5px 5px;

    }
}






